{% extends "base.html.twig" %}

{% block title %}
Profil de {{information.prenom}}
{% endblock %}

{% block body %}
<div class="h-24 my-6 bg-slate-100 flex items-center rounded-lg" data-vendeur-id={{information.id}}>
    <div class="ml-6">
        <h1 class="text-xl font-semibold">{{information.prenom}}</h1>
        <div><span id="positive-votes">0</span> évalutations positifs (<span id="total-votes"></span> votes)</div>
    </div>
</div>

<div>
    <h2 class="text-xl font-semibold mb-4">Annonces</h2>
    <div class="w-full flex flex-wrap">
        {% for annonce in myAnnonces %}
            {{ include('components/_annonce.html.twig', {annonce: annonce}) }}
        {% endfor %}
    </div>
</div>
<script type="module" src="{{ asset('assets/js/index.js') }}"></script>
{% endblock %}
