{% extends 'base.html.twig' %}

{% block title %}Le bon sommet | Créer une annonce
{% endblock %}

{% block body %}
	<h1 class="text-center mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl">Créez votre propre annonces</h1>

	<div class="">
		<div class="content-center">
			{{ form_start(creationAnnonce, {'enctype': 'multipart/form-data'}) }}
			<div class="mb-6">
				<label class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-30">Titre</label>
				{{ form_widget(creationAnnonce.titre, {'attr': {'class': 'form-color appearance-none block w-full text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500'}}
				)}}

				<div class="mb-6">
					<label class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-30">Description</label>
					{{ form_widget(creationAnnonce.description, {'attr': {'class': 'form-color appearance-none block w-full text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500'}}
					) }}
				</div>
				<div class="mb-6">
					<label class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-30">Prix</label>
					{{ form_widget(creationAnnonce.prix, {'attr': {'class': 'form-color appearance-none block w-full text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500'}}) }}
				</div>

				<button type="submit" class="mt-8 bg-indigo-600 text-white text-sm leading-6 font-medium py-2 px-3 rounded-lg">Valider</button>
				{{ form_end(creationAnnonce) }}
			</div>
		</div>
	{% endblock %}
